# Topics to be covered
#### Python Lists, Tuples, Sets, Dictionary.
#### Python while Loop, for Loop, break, continue statement.
#### Python Functions

# List
* Lists are used to store multiple items in a single variable.
* Lists are created using square brackets.
* Lists allow duplicate values
* List items can be of any data type

In [7]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [5]:
lst = [1,"name",3.9]

In [2]:
print(l)

[1, 'name', 3.9]

In [3]:
print(l[1])

name

In [6]:
for val in lst:
    print(val)

1
name
3.9

In [7]:
len(lst)

3

In [10]:
for index in range(len(lst)):
    print(index)

0
1
2

In [11]:
for index in range(len(lst)):
    print(lst[index])

1
name
3.9

In [12]:
lst1 = []
lst1.append("Nischal")

In [13]:
lst1

['Nischal']

In [14]:
lst1.append("Gateway of AI!")

In [15]:
lst1

['Nischal', 'Gateway of AI!']

In [16]:
len(lst1)

2

In [4]:
l1 = []

In [7]:
for i in range(0,10):
    print(i)
    l1.append(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Tuples
* Tuples are used to store multiple items in a single variable.
* A tuple is a collection which is ordered and """unchangeable""".
* Tuples are written with round brackets.
* Tuple items are ordered, unchangeable, and allow duplicate values.

In [17]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [5]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [6]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [19]:
if "Nischal_" in lst1:
    print("yes")
else:
    print(("No"))

No

In [20]:
for val in thistuple:
    print(val)

apple
banana
cherry

# Set
A set is a collection which is unordered, unchangeable*, and unindexed.

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [3]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

cherry
apple
banana

In [22]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [23]:
if "apple" in thisset:
    print("yes")

yes

# Dictionary
* Dictionaries are used to store data values in key:value pairs.
* A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
* Dictionaries are written with curly brackets, and have keys and values.

When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.

In [24]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [26]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [27]:
y = thisdict.get("model")

In [29]:
print(y)

Mustang

In [13]:
keys = thisdict.keys()

In [14]:
keys

dict_keys(['brand', 'model', 'year'])

In [33]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [31]:
values = thisdict.values()

In [32]:
print(values)

dict_values(['Ford', 'Mustang', 1964])

# While loop

In [20]:
x = 5
i = 0
while x > i:
    print("Gateway of AI")
    i = i+1

Gateway of AI
Gateway of AI
Gateway of AI
Gateway of AI
Gateway of AI

# For loop

In [21]:
L1 = [2,4,5,6,7,8,9]
for val in L1:
    print(val)

2
4
5
6
7
8
9

# Function

In [36]:
def my_function(country = "Norway"):
    print("I am from " + country)

# my_function("Sweden")

# my_function()
# my_function("Brazil")

I am from Sweden
I am from Norway
I am from Brazil

In [37]:
my_function("India")

I am from India

In [38]:
my_function("Nepal")

I am from Nepal

In [39]:
def addition(num1, num2):
    print(num1+num2)

In [40]:
addition(50, 10)

60

In [41]:
addition(18888,78272)

97160