# Topics to be covered:
* Python Lambda Function
* Map, Filter and Reduce in Python

# Python Lambda Function

In [2]:
def addition(num1, num2):
    return num1+num2

In [3]:
ans = addition(12, 10)

In [4]:
ans

22

In [5]:
x = lambda a : a + 10
print(x(5))

15

In [6]:
x(12)

22

In [7]:
x(100)

110

In [8]:
add = lambda num1, num2 : num1 + num2

In [9]:
add(8,5)

13

In [12]:
def multiplication(a,b):
    return a*b

In [13]:
multiplication(2,5)

10

In [14]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [15]:
x(2,5)

10

In [17]:
def add(a,b,c):
    return a+ b+c

In [18]:
add(5,6,2)

13

In [19]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [15]:
def cube(y):
    return y*y*y

print("Using function defined with `def` keyword, cube:", cube(5))

Using function defined with `def` keyword, cube: 125

In [16]:
lambda_cube = lambda y: y*y*y
print("Using lambda function, cube:", lambda_cube(5))

Using lambda function, cube: 125

# Python map() Function
The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.

In [1]:
def myfunc(n):
    return len(n)

x = map(myfunc, ('apple', 'banana', 'cherry'))

In [3]:
print(x)

<map object at 0x1110e94b0>

In [4]:
list(x)

[5, 6, 6]

In [6]:
lst = [12,3,4,55,6,7,88,9]

def multiply_with_5(val):
    return val*5

In [7]:
last_5 = []

In [8]:
for val in lst:
    last_5.append(multiply_with_5(val))

In [9]:
last_5

[60, 15, 20, 275, 30, 35, 440, 45]

In [10]:
x = map(multiply_with_5,lst)

In [11]:
print(x)

<map object at 0x1111e9240>

In [12]:
list(x)

[60, 15, 20, 275, 30, 35, 440, 45]

In [18]:
s = "Gateway "

In [19]:
s1 = "of AI"

In [20]:
s+s1

'Gateway of AI'

In [14]:
type(s)

str

In [21]:
def myfunc(a, b):
    return a + b

x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))

In [22]:
list(x)

['appleorange', 'bananalemon', 'cherrypineapple']

In [25]:
def addition(n):
    return n + n

In [26]:
# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)

In [27]:
print(list(result))

[2, 4, 6, 8]

In [28]:
num = [2,4,6,8]
double_num = map(lambda x: x+x, num)

In [29]:
double_num

In [30]:
list(double_num)

[4, 8, 12, 16]

In [31]:
name = ["Gateway of AI", 'gateway of ai', 'gatewayofai']


Cap_name = map(lambda x: str.upper(x),name)
list(Cap_name)

['GATEWAY OF AI', 'GATEWAY OF AI', 'GATEWAYOFAI']

# Python filter() Function

In [32]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
    
    if x < 18:
        return False
    else:
        return True

In [33]:
adults = filter(myFunc, ages)

In [34]:
list(adults)

[18, 24, 32]

In [35]:
f_lst = [23,43,24,63,38,73,66]

avg_lst = filter(lambda x: x >= 35, f_lst)

list(avg_lst)

[43, 63, 38, 73, 66]

In [36]:
countries = ['India','china', 'Nepal', 'USA', 'UK']

c_grater_3 = filter(lambda x: len(x) > 3, countries)
list(c_grater_3)

['India', 'china', 'Nepal']

# Python reduce() Function

In [23]:
# python code to demonstrate working of reduce() 

# importing functools for reduce() 
import functools 

# initializing list 
lis = [1, 3, 5, 6, 2] 


print(functools.reduce(lambda a, b: a+b, lis))

17