In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
for ele in numbers:
    print(ele)

1
2
3
4
5
6
7
8
9
10

In [8]:
lst = [print(val) for val in numbers]

1
2
3
4
5
6
7
8
9
10

In [9]:
lst

[None, None, None, None, None, None, None, None, None, None]

In [10]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
new_lst = []
v = 5
for val in numbers:
    new_lst.append(val + v)

In [12]:
new_lst

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [13]:
new_lst_c = [val+v for val in numbers]

In [14]:
new_lst_c

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [15]:
# Find odd and even number

for val in numbers:
    if val % 2 == 0:
        print("even numbers:", val)
    else:
        print("odd numbers:", val)

odd numbers: 1
even numbers: 2
odd numbers: 3
even numbers: 4
odd numbers: 5
even numbers: 6
odd numbers: 7
even numbers: 8
odd numbers: 9
even numbers: 10

In [16]:
print_odd_even = [print("even number",val) if val % 2 == 0 else print("odd number",val) for val in numbers ]

odd number 1
even number 2
odd number 3
even number 4
odd number 5
even number 6
odd number 7
even number 8
odd number 9
even number 10

In [1]:
def process_numbers(numbers):
    result = []
    for num in numbers:
        if num % 2 == 0:
            result.append(num**3)
        else:
            result.append(num**2)
    return result

# Example usage
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result_number = process_numbers(numbers)
print(result_number)

[1, 8, 9, 64, 25, 216, 49, 512, 81, 1000]

In [17]:
lst_com_result = [val**3 if val % 2 == 0 else val**2 for val in numbers]

In [18]:
lst_com_result

[1, 8, 9, 64, 25, 216, 49, 512, 81, 1000]

In [20]:
words = ["apple", "banana", "kiwi", "orange", "grape"]

In [21]:
new_C_lst = []
car = "AI"
for word in words:
    new_C_lst.append(word+car)

In [22]:
new_C_lst

['appleAI', 'bananaAI', 'kiwiAI', 'orangeAI', 'grapeAI']

In [23]:
lst_c = [val+car for val in words]

In [24]:
lst_c

['appleAI', 'bananaAI', 'kiwiAI', 'orangeAI', 'grapeAI']

In [27]:
def process_words_normal(words):
    result = []
    for word in words:
        if len(word) > 5:
            result.append(word.upper())
        else:
            result.append(word.lower())
    return result

# Example usage
words = ["apple", "banana", "kiwi", "orange", "grape"]
result_normal = process_words_normal(words)
print(result_normal)

['apple', 'BANANA', 'kiwi', 'ORANGE', 'grape']

In [28]:
new_req_lst = [word.upper() if len(word) > 5 else word.lower() for word in words]

In [29]:
new_req_lst

['apple', 'BANANA', 'kiwi', 'ORANGE', 'grape']